#!/usr/bin/env zsh
if [[ -z $VIRTUAL_ENV ]]; then
    workon `cat .venv`;
fi

function req {
    if [[ ! -z $1 || ! -r requirements/$1.in ]]; then
       1=local
    fi

    pip-compile requirements/local.in &
    pip-compile requirements/production.in &
    wait;
    pip-sync requirements/$1.txt
}

alias app="python manage.py"
