.profile-header {
    min-height:  260px;
    margin-left: 280px;
}

.profile-thumbnail {
    position: absolute;
}

.posts {
    list-style-type: none;
    padding:         0;
    margin:          16px 0 0 0;
    border-top:      1px solid #e0e0e0;

}

.post {
    padding:       8px;
    border-bottom: 1px solid #e0e0e0;
    &:hover {
        background-color: #f0f0f0;
    }
    &__date {
        float: right;

    }
    &__author {
        font-weight: bold;

    }
    &__thumbnail {
        position: absolute;
    }
    &__body {

    }
    &--content {
        margin-left: 48px;
        min-height:  48px;
    }
}