{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
   {{ super() }} - Index
{% endblock title %}

{% block page_header %}
   <h1>Hello, {{ name }}!</h1>
{% endblock page_header %}

{% block page_content %}
   {% if current_user.can(Permission.WRITE_ARTICLES) %}
      {{ wtf.quick_form(form) }}
   {% endif %}
   <ul class="posts">
      {% for post in posts %}
         <li class="post">
            <div class="post__thumbnail">
               <a href="{{ url_for('.user_profile', username=post.author.username) }}">
                  <img src="{{ post.author.gravatar(size=40) }}"
                       alt=""
                       class="img-rounded profile-thumbnail"> </a>
            </div>
            <div class="post--content">

               <div class="post__date">{{ moment(post.timestamp).fromNow() }}</div>
               <div class="post__author">
                  <a href="{{ url_for('.user_profile', username=post.author.username) }}">{{ post.author.username }}</a>
               </div>
               <div class="post__body">{{ post.body }}</div>
            </div>
         </li>
      {% endfor %}

   </ul>
   {#   {% if known %}
      <p>Happy to see you again!</p>
   {% else %}
      <p>Pleased to meet you.</p>
   {% endif %}
   <p>Your `User-Agent` is {{ user_agent }}</p>
   <p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
   <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
   {{ wtf.quick_form(form) }}#}


{% endblock page_content %}
